@{
    ViewBag.UserName = string.IsNullOrEmpty(@ViewBag.UserName as string) ? @User.Identity.Name : ViewBag.UserName;
}
<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" data-ng-app="app"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" data-ng-app="app"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">

        <title data-ng-bind="$root.title + ' | CSi Percurrentis'">Home | CSi Percurrentis</title>

        <meta name="robots" content="noindex, nofollow">

        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">

        <!-- Icons -->
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <!-- END Icons -->

        <!-- Stylesheets -->
        <!-- Bootstrap is included in its original form, unaltered -->
        <link rel="stylesheet" href="~/Content/vendor/ProUI/css/bootstrap.min.css">

        <!-- Related styles of various icon packs and plugins -->
        <link rel="stylesheet" href="~/Content/vendor/ProUI/css/plugins.css">

        <!-- The main stylesheet of this template. All Bootstrap overwrites are defined in here -->
        <link rel="stylesheet" href="~/Content/vendor/ProUI/css/main.css">

        <!-- Include a specific file here from css/themes/ folder to alter the default theme of the template -->
        <link rel="stylesheet" href="~/Content/vendor/ProUI/css/themes/modern.css">

        <!-- The themes stylesheet of this template (for using specific theme color in individual elements - must included last) -->
        <link rel="stylesheet" href="~/Content/vendor/ProUI/css/themes.css">

        <link rel="stylesheet" href="~/Content/src/assets/css/text.css">        
        
        <!-- Angular x-editable css-->
        <link rel="stylesheet" href="~/Content/vendor/angular-xeditable/css/xeditable.css">
        <!-- END Stylesheets -->

        @Scripts.Render("~/bundles/modernizr")



        @RenderSection("PreScript", required: false) 

        @if (@ViewBag.developMode)
        {
            <script type="text/javascript">

                var cookieDate = "expires=Thu, 18 Dec 2099 12:00:00 UTC";
                var currentUser = "@ViewBag.UserName";
            
            function getCookie(cname) {
                var name = cname + "=";
                var ca = document.cookie.split(';');
                for (var i = 0; i < ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0) == ' ') c = c.substring(1);
                    if (c.indexOf(name) == 0) return c.substring(name.length, c.length);
                }
                return "";
            }

            function getDevToolsCookie() {
                var devToolsCookie = getCookie("devTools");
                if(devToolsCookie == ""){
                    setBasicDevToolsCookie();
                }
                return getCookie("devTools");
            }

            function switchBool(key){
                var devToolsCookie = JSON.parse(getDevToolsCookie());
                if(key =="TravelAgency"){
                    devToolsCookie.TravelAgency = !devToolsCookie.TravelAgency;
                }
                if(key =="COO"){
                    devToolsCookie.COO = !devToolsCookie.COO;
                }
                if(key =="Accountant"){
                    devToolsCookie.Accountant = !devToolsCookie.Accountant;
                }
                if(key =="AlwaysManager"){
                    devToolsCookie.AlwaysManager = !devToolsCookie.AlwaysManager;
                }
                var jsonString = JSON.stringify(devToolsCookie);
                document.cookie ="devTools="+jsonString+"; "+cookieDate;

                document.location.reload();
            }

            function resetDevTools(){
                document.cookie = "devTools=; expires=Thu, 01 Jan 1970 00:00:00 UTC";
                document.location.reload();
            }

            function setBasicDevToolsCookie(){
                var devTools = {TravelAgency:@ViewBag.AccessLevels.TravelAgency.ToString().ToLower() ,
                    COO: @ViewBag.AccessLevels.COO.ToString().ToLower() ,
                    Accountant:@ViewBag.AccessLevels.Accountant.ToString().ToLower() ,
                    AlwaysManager: false
                }
                    
                document.cookie="devTools="+JSON.stringify(devTools)+"; "+cookieDate;
            }

                var devToolsCookie = getDevToolsCookie();
                //TODO PUT THIS IN OTHER FILE
            </script>
        }
    </head>
    
    
    <body>
        <!-- Page Container -->
        <div id="page-container" class="sidebar-partial sidebar-visible-lg sidebar-no-animations footer-fixed">
            <!-- Main Sidebar -->
            <div id="sidebar">
                <!-- Wrapper for scrolling functionality -->
                <div class="sidebar-scroll">
                    <!-- Sidebar Content -->
                    <div class="sidebar-content">
                        <!-- Brand -->
                        <a href="#/" class="sidebar-brand">
                            <i class="gi gi-airplane themed-background themed-border"></i><strong>CSi</strong>Percurrentis
                        </a>
                        <!-- END Brand -->

                        <!-- User Info -->
                        <div class="sidebar-section sidebar-user clearfix">
                            <div class="sidebar-user-name">@ViewBag.UserName</div>
                        </div>
                        <!-- END User Info -->
                        <!-- Sidebar Navigation -->
                        <ul class="sidebar-nav">
                            <li>
                                @if (@ViewBag.developMode)
                                {
                                    <a href="#" class="sidebar-nav-menu open">
                                        <i class="fa fa-angle-left sidebar-nav-indicator sidebar-nav-mini-hide"></i>
                                        <i class="gi gi-classic_hammer sidebar-nav-icon"></i>
                                        <span class="sidebar-nav-mini-hide">Dev tools</span>
                                    </a>
                                    <ul style="display:block;padding:0px 5px 0px 5px;">
                                        <li onclick='switchBool("TravelAgency")' class="dev-tools-option">TravelAgency  <span class="pull-right" style="color:@if (@ViewBag.AccessLevels.TravelAgency){@Html.Raw("green")}else{@Html.Raw("red")};"> @ViewBag.AccessLevels.TravelAgency</span></li>
                                        <li onclick='switchBool("COO")'  class="dev-tools-option">COO <span class="pull-right" style="color:@if (@ViewBag.AccessLevels.COO){@Html.Raw("green")}else{@Html.Raw("red")};"> @ViewBag.AccessLevels.COO</span></li>
                                        <li onclick='switchBool("Accountant")' class="dev-tools-option">Accountant <span class="pull-right" style="color:@if (@ViewBag.AccessLevels.Accountant){@Html.Raw("green")}else{@Html.Raw("red")};"> @ViewBag.AccessLevels.Accountant</span></li>
                                        <li onclick='switchBool("AlwaysManager")' class="dev-tools-option">AlwaysManager <span class="pull-right" style="color:@if(@ViewBag.AccessLevels.ProjectManager){@Html.Raw("green")}else{@Html.Raw("red")};">@ViewBag.AccessLevels.ProjectManager</span></li>
                                        <li onclick='resetDevTools()' class="dev-tools-option">Reset all options</li>
                                    </ul>
                                }
                                <a href="#/"><i class="gi gi-home sidebar-nav-icon"></i>Home</a>
                                <a href="#" class="sidebar-nav-menu">
                                    <i class="fa fa-angle-left sidebar-nav-indicator sidebar-nav-mini-hide"></i>
                                    <i class="gi gi-airplane sidebar-nav-icon"></i>
                                    <span class="sidebar-nav-mini-hide">Travel Requests</span>
                                </a>
                                <ul>
                                    <li>
                                        <a href="#/Request/New"><i class="gi gi-circle_plus sidebar-nav-icon"></i>New Request</a>
                                        <a href="#/Request/#Awaiting" data-ng-show="@ViewBag.AccessLevels.TravelAgency.ToString().ToLower()"><i class="gi gi-show_lines sidebar-nav-icon"></i>Requests</a>
                                        <a href="#/Request/#Awaiting%20for%20me" data-ng-show="@ViewBag.AccessLevels.TravelAgency.ToString().ToLower() == false"><i class="gi gi-show_lines sidebar-nav-icon"></i>Requests</a>
                                    </li>
                                </ul>
                                <a href="#/Itinerary/" data-ng-show="@ViewBag.AccessLevels.TravelAgency.ToString().ToLower()"><i class="gi gi-book_open sidebar-nav-icon"></i>Itineraries</a>
                                <a href="#/Proposal/"><i class="fa fa-lightbulb-o sidebar-nav-icon"></i>Proposals</a>
                                <a href="#/Travellers/"><i class="gi gi-parents sidebar-nav-icon"></i>Travellers</a>
                                <!--<a href="#/Current/"><i class="gi gi-globe sidebar-nav-icon"></i>Current travels</a>-->
                                <!--<a href="#/Personal-Details/" ><i class="gi gi-inbox_in sidebar-nav-icon"></i>Personal Details</a>-->
                                <!--<a href="#/Insurance/" data-ng-show="@ViewBag.AccessLevels.TravelAgency.ToString().ToLower()"><i class="gi gi-log_book sidebar-nav-icon"></i>Insurance</a>-->

</li>
                        </ul>
                        <!-- END Sidebar Navigation -->
</div>
                    <!-- END Sidebar Content -->
                </div>
                <!-- END Wrapper for scrolling functionality -->
            </div>
            <!-- END Main Sidebar -->

            <!-- Main Container -->
            <div id="main-container">
                <!-- Header -->
                <header class="navbar navbar-default">
                    <!-- Left Header Navigation -->
                    <ul class="nav navbar-nav-custom">
                        <!-- Main Sidebar Toggle Button -->
                        <li>
                            <a href="javascript:void(0)" onclick="App.sidebar('toggle-sidebar');">
                                <i class="fa fa-bars fa-fw"></i>
                            </a>
                        </li>
                        <!-- END Main Sidebar Toggle Button -->
                    </ul>
                    <!-- END Left Header Navigation -->
                </header>
                <!-- END Header -->

                <!-- Page content -->
                <div id="page-content" style="min-height: 1500px;">
                    <!-- Page Header -->
                    <div class="content-header">
                        <div class="header-section">
                            <h1>
                                @RenderSection("Header", required: true)
                            </h1>
                        </div>
                    </div>
                    @RenderSection("BreadCrumbs", required: false)

                    <!-- END Page Header -->
                    @RenderBody()
                </div>
                <!-- END Page Content -->

                <!-- Footer -->
                    @RenderSection("Footer", required: false)
                <!-- END Footer -->
            </div>
            <!-- END Main Container -->
        </div>
        <!-- END Page Container -->

        <!-- Scroll to top link, initialized in js/app.js - scrollToTop() -->
        <a href="#" id="to-top"><i class="fa fa-angle-double-up"></i></a>

        <!-- Include Jquery library from Google's CDN but if something goes wrong get Jquery from local file (Remove 'http:' if you have SSL) -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script>!window.jQuery && document.write(unescape('%3Cscript src="Content/vendor/ProUI/js/vendor/jquery-1.11.0.min.js"%3E%3C/script%3E'));</script>

         <!-- Bootstrap.js, Jquery plugins and Custom JS code -->
        <script src="~/Content/vendor/ProUI/js/vendor/bootstrap.min.js"></script>
        <script src="~/Content/vendor/ProUI/js/plugins.js"></script>
        <script src="~/Content/vendor/ProUI/js/app.js"></script>

        <!-- Angular X-editable -->


        @Scripts.Render("~/bundles/vendor/js")
        @Scripts.Render("~/bundles/scripts/breeze")
        @Scripts.Render("~/bundles/src/js")

        <!-- Angular X-editable -->
        <script src="~/Content/vendor/angular-xeditable/js/xeditable.js"></script>

        <!-- MomentJS stuff -->
        <script src="~/Content/vendor/momentjs/moment.js"></script>
        <script src="~/Content/vendor/momentjs/moment-timezone.js"></script>
        
        @RenderSection("PostScript", required: false)
    </body>
</html>